body {

}

p {
  margin: 5px;
}
ol {
  margin: 0px;
  padding: 0px;
}
ol li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 10px;
}
#container {
  /*border: 5px solid red;*/
  width: 300px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
}
#content {
  /*border: 5px solid blue;*/

}
#alerts {
  background-color: #EED202;
  padding: 5px;
  margin-top: 10px;

  border-radius: 5px;
  border: 2px solid #C5831D;
}

#total {
	color: red;
}
.on {
	display: block;
}
.off {
	display: none;
}

.error {
	border: 1px solid  red;
}