body {

}

p {
  margin: 5px;
}
#container {
  /*border: 5px solid red;*/
  width: 300px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
}
#content {
  /*border: 5px solid blue;*/

}
#alerts {
  background-color: #EED202;
  padding: 5px;
  margin-top: 10px;
  display: none;
  border-radius: 5px;
  border: 2px solid #C5831D;
}